[paths]
source =
   src
   */site-packages

[run]
branch = True
parallel = True
source = 
    conan_explorer

[report]
precision = 2
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    def __repr__
    if self\.debug
    if TYPE_CHECKING:
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    # Don't complain if non-runnable code isn't run:
    if 0:
        if __name__ == .__main__.:
