.vscode/.ropeproject/**
.vscode/tags
.venv*

**/*_inv.png
**/__pycache__/**
*.egg-info
build/**
dist/**
*result*.xml
cov.xml
.coverage
htmlcov/*
crash.log
src/conan_app_launcher/cache.json
doc/example_plugin/cal_example_plugin/plugin.ini
