# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]


jobs:
  Test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        name:
          [
            "ubuntu-py36",
            "ubuntu-py37",
            "ubuntu-py38",
            "ubuntu-py39",
            "windows-py38",
            "ubuntu-py38-conan1.24.0",
            "ubuntu-py310-conan1.28.0",
          ]
        include:
          - name: "ubuntu-py36"
            python: "3.6"
            conan: "latest"
            os: ubuntu-latest
          - name: "ubuntu-py37"
            python: "3.7"
            os: ubuntu-latest
            conan: "latest"
          - name: "ubuntu-py38"
            python: "3.8"
            os: ubuntu-latest
            conan: "latest"
          - name: "ubuntu-py39"
            python: "3.9"
            use_coverage: true
            conan: "latest"
            os: ubuntu-latest
          - name: "windows-py38"
            python: "3.8"
            os: windows-latest
            use_coverage: true
            conan: "latest"
          - name: "ubuntu-py38-conan1.24.0"
            python: "3.8"
            os: ubuntu-latest
            conan: "1.24.0"
            use_coverage: true
          - name: "ubuntu-py310-conan1.28.0"
            python: "3.10"
            os: ubuntu-latest
            conan: "1.28.0"
            use_coverage: true

    env:
      DISPLAY: ":99.0"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v2
      - name: Set up a display for gui in Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX
      - name: Install xterm for testing in Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install gnome-terminal
          sudo apt install dbus-x11
      - name: Set up Python  ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install pip and Python test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/requirements.txt
      - name: Install specific conan version
        if: matrix.conan != 'latest'
        run: |
          pip install conan==${{ matrix.conan }}
      - name: Install own dependencies
        run: |
          pip install pyqt5==5.14.2
          pip install -e .
      - name: Update remote
        run: |
          conan remote clean
          conan remote add conancenter https://center.conan.io false
      - name: Execute unitests with pytest
        run: |
          pytest -v test/unit --junit-xml=./test/result-unit.xml --cov=conan_app_launcher --cov-branch --cov-append
      - name: Execute integration with pytest
        run: |
          pytest -v test/integration --junit-xml=./test/result-integration.xml --cov=conan_app_launcher --cov-branch --cov-append
      - name: Execute system with pytest
        run: |
          pytest -v test/system --junit-xml=./test/result-system.xml --cov-report xml:cov/cov.xml --cov=conan_app_launcher --cov-branch --cov-append
      - uses: actions/upload-artifact@v2
        with:
          name: Test results
          path: |
            cov/
            test/